.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-container {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  max-width: 1200px;
  padding: 40px;
}

/* PRODUCT IMAGES */
.product-images {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.primary-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.primary-image img {
  width: 100%;
  display: block;
}

.secondary-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.secondary-images img {
  width: 80px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.product-details {
  flex: 1;
}
