.container {
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: midnightblue;
  height: 70px;
  padding: 0px 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

/* SEARCH BAR */
.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  flex: 1;
  margin: 0 20px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid midnightblue;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar input:focus {
  border-color: rgba(53, 38, 255, 0.9);
  box-shadow: 0 0 15px rgba(53, 38, 255, 0.9);
}

/* NAVBAR */
.container nav {
  height: 100%;
}

.container nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
  font-size: 1.1rem;
  height: 100%;
}

.container nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.container nav ul li a:hover {
  color: grey;
  text-decoration: none;
}
